html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #000;
  touch-action: none;
  font-family: system-ui;
  color: #fff;
}
#canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  background: #000;
}
